:root {
  --primary-color: #72c3bd;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  color: #44383c;
  margin-bottom: 70px;
}

.navbar-brand,
.nav-brand.active,
.navbar-brand:hover {
  color: #44383c;
  font-size: 30px;
}

.navbar-nav .nav-link.active {
  color: #44383c;
}

.hero {
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 770px;
  padding: 0 10px;
}

.hero-heading {
  padding-top: 130px;
}

.hero a {
  margin-top: 25px;
  font-weight: 500;
}

h1,
h2,
h3 {
  margin: 0;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  padding: 20px 30px;
  border-radius: 4px;
  line-height: 1;
}

.btn-branding:hover {
  background: var(--primary-color);
  color: white;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #c3a07a;
  font-size: 18px;
  padding: 20px 30px;
  border-radius: 4px;
  line-height: 1;
  color: #44383c;
}

.featured-heading {
  padding: 40px 0;
}

.footer {
  margin: 50px 0 0;
  padding: 70px;
  background: #ededed;
}

@media (max-width: 768px) {
  .hero {
    height: 650px;
  }
  .hero a {
    margin-top: 15px;
  }
  .hero h1 {
    font-size: 54px;
  }
  .featured {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 500px;
  }
  .hero-heading {
    padding-top: 120px;
  }

  .hero h1 {
    font-size: 34px;
  }
  .hero h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }

  .btn-branding {
    padding: 15px 20px;
  }

  .featured-heading {
    padding: 30px 0;
  }

  .featured {
    padding: 0 40px 20px 40px;
  }
}
